<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--nameSpace 与dao层建立连接-->
<mapper namespace="com.example.login.demo.dao.LoginDao">
    <!-- 查询数据:返回student对象 -->
<!--    <select id="selectByName" parameterType="String" resultType="com.example.login.demo.dao.LoginDao">-->
<!--        select * from candidate where c_telephone=#{c_telephone}-->
<!--    </select>-->
    <!-- 插入数据:返回记录的id值 -->
    <insert id="insertUser" parameterType="com.example.login.demo.entity.User">
        insert into hellodao (telephone,password,token) values(#{telephone},#{password},#{token})
    </insert>
<!--    <update id="signInformation" parameterType="String">-->
<!--        update candidate set studentNumber=#{studentNumber},idCard=#{idCard},telNumber=#{telNumber},subjct=#{subject}-->
<!--        where userName=#{userName}-->
<!--    </update>-->
    <select id="findByIdToken" parameterType="String" resultType="java.lang.Integer">
        select * from hellodao where token=#{token}
    </select>
    <select id="findUser" resultType="com.example.login.demo.entity.User">
        select * from hellodao where telephone = #{telephone}
    </select>
    <select id="selectAll" resultType="com.example.login.demo.entity.User">
        select * from hellodao

    </select>
</mapper>
